[submodule "lib/abc"]
	path = lib/abc
	url = https://github.com/grorge123/abc.git
[submodule "lib/aiger"]
	path = lib/aiger
	url = https://github.com/zimmski/aiger.git
[submodule "lib/cadical"]
	path = lib/cadical
	url = git@github.com:arminbiere/cadical.git
